DB_ROOT_PASSWORD=password
JWT_PRIVATE_KEY=<jwt_private_key_base64>
JWT_PUBLIC_KEY=<jwt_public_key_base64>
JWT_ACCESS_EXPIRATION=86400
JWT_TEMP_EXPIRATION=300
JUDGE_SECRET=thisisatemplateofthesecret
JUDGEND_MAX_CONCURRENT_REQUESTS=2
JUDGEND_OUTPUT_TRUNCATE_LENGTH=200
MAIL_USERNAME=your_email@qq.com
MAIL_PASSWORD=your_mail_app_password
# 设为true代表开启开发环境的固定验证码功能，方便测试。请勿在生产环境中启用。
VERIFICATION_DEV_FIXED_CODE_ENABLED=true
VERIFICATION_DEV_FIXED_CODE=123456
