[submodule "services/judgend"]
	path = services/judgend
	url = git@github.com:SEUAIG/seuoj-judgend.git
	branch = dev
[submodule "services/backend"]
	path = services/backend
	url = git@github.com:SEUAIG/seuoj-backend.git
	branch = master
[submodule "services/frontend"]
	path = services/frontend
	url = git@github.com:SEUAIG/seuoj-frontend.git
	branch = main
[submodule "services/seuoj-qa"]
	path = services/seuoj-qa
	url = git@github.com:SEUAIG/seuoj-qa.git
